<h1>Login or Create User</h1>
<form action="/users" method="POST">
	<input type="text" placeholder="username" name="username">
	<input type="submit" value="Login">
</form>
<br>
<form action="/" method="POST">
	<input type="text" placeholder="username" name="username">
	<input type="submit"  value="Create Account">
</form>
<h1>User id {{newName}}</h1>
