body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}
#message{
	width: 5%;
	text-align: center;
	float: left;
	color: black;
	clear: right;
}
#delete{
	float: left;
 	width: 10%;
}
#to_do{

}
