body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}
.message{
	width: 45%;
	/*text-align: center;
	color: blue;
	*/
	float: left;
}
.header{
	width: 50%;
	float: left;
}
.date{
	width:50%;
	float: left;
	clear: right;
}
#delete{
	float: left;
 	width: 10%;
}
.to_do{
}
 .logout {
 float: right;
}
@media all and (max-width: 900px)
{   
	.message{
		position: absolute;

	}
	.date{
		position: absolute;
    	left: 200px;
    	top: 200;
    	font-size: 85%; 
	}
}
